*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main__wrapper{
    min-height: 100vh;
    min-width: 100%;
    background: #053329;
    position: relative;
}
.heading{
    color: #ffff;
    font-family: 'Cabin', sans-serif;
    font-size: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3.2rem;
    letter-spacing: 5px;

}
.header{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;

}
.header div {
    color: #fcd1d1;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-flex;
    
}
.header span{
    color:#0c9329 ;
    
}

.text__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4rem;
}

.typing-text{ 
    width: 100%;
    margin-top: 7rem;
    color: #FBFFFE;
    opacity: 0.8;
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Source Sans Pro', sans-serif;

}
.input__wrapper{
    width: 100%;
    margin-top: 2.5rem;
    text-align: center;
}
.inp_box{  
    width: 100%;
    background: none;
    line-height: 1.4rem;
    font-size: 1.4rem;  
    border: none;
    color: #FBFFFE;
    padding-top:1rem;        
    resize: none;
    
}
.inp_box:focus{
    outline: none;
}
.inp_box::placeholder{
    color: #6fd184;
}
.correct_char{
    color: gray;
    opacity: 1;
}
.incorrect_char{
    color: red;
}

.restart__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.restart_btn{
    cursor: pointer;
}
.restart_btn:hover{
    
    background: rgba(0, 0, 0, 0.308);
}

.tip{
    position: absolute;
    bottom: 2rem;
    margin: 0 5rem;
    color: #fbfffeb0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
}

@media (max-width:500px){
    .heading{
        font-size: 1.5rem;
    }
    .header div, span{
        font-size: 1rem;
    }
    .inp_box{
        font-size: 1rem;
    }
    .text__wrapper{
        padding: 0 2rem;
    }
}

#home-link {
    position: absolute;
    left: 20px; /* Adjust this value to center it horizontally */
    top: 10px; /* Adjust this value to position it vertically */
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

#home-link a {
    color: white;
    text-decoration: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
  }
  
  button:active {
    transform: scale(.9);
    transition: all 100ms ease;
  }
  
  button svg {
    transition: all .5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all .5s ease;
    transition-delay: 300ms;
  }
  
  button:hover svg {
    transform: scale(3) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
  }
  
  button:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }

  #rateButton {
    background-color: #0074d9; /* Change the color to your preference */
    color: #fff; /* Change the text color to your preference */
    padding: 10px 20px; /* Adjust the padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#rateButton:hover {
    background-color: #0056b3; /* Change the hover color to your preference */
}


