html, body {
  height: 100%;
  overflow: hidden;
  background-color: #2F2F31;
}

.credits {
  width: 100%;
  top: 90%;
}

.text {
  text-align: center;
  font-family: Helvetica;
  font-size: .8rem;
  color: grey;
  pointer-events: none;
}

.centered, .cube > .piece > .element > .sticker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.scene {
  width: 100%;
  height: 100%;
  perspective: 1200px;
  transform-style: preserve-3d;
}
.scene > .pivot {
  width: 0;
  height: 0;
  transition: .18s;
}
.scene .anchor {
  width: 2em;
  height: 6em;
}
.scene div {
  position: absolute;
  transform-style: inherit;
}

#piece4 > .element.top > .sticker {
  background-color: #DDD;
}

.cube {
  font-size: 190%;
  margin-left: -1em;
  margin-top: -1em;
}
.cube > .piece {
  width: 1.9em;
  height: 1.9em;
}
.cube > .piece > .element {
  width: 100%;
  height: 100%;
  background: #0A0A0A;
  outline: 1px solid transparent;
  border: 0.05em solid #0A0A0A;
  border-radius: 10%;
}
.cube > .piece > .element.left {
  transform: rotateX(0deg) rotateY(-90deg) rotateZ(180deg) translateZ(1em);
}
.cube > .piece > .element.right {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(90deg) translateZ(1em);
}
.cube > .piece > .element.back {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg) translateZ(1em);
}
.cube > .piece > .element.front {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(1em);
}
.cube > .piece > .element.bottom {
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(-90deg) translateZ(1em);
}
.cube > .piece > .element.top {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(180deg) translateZ(1em);
}
.cube > .piece > .element > .sticker {
  transform: translateZ(2px);
  width: 95%;
  height: 95%;
  border-radius: 10%;
  outline: 1px solid transparent;
  box-shadow: inset 0.05em 0.05em 0.2rem 0 rgba(255, 255, 255, 0.25), inset -0.05em -0.05em 0.2rem 0 rgba(0, 0, 0, 0.25);
}
.cube > .piece > .element > .sticker.blue {
  background-color: #001ca8;
}
.cube > .piece > .element > .sticker.green {
  background-color: #006E16;
}
.cube > .piece > .element > .sticker.white {
  background-color: #DDD;
}
.cube > .piece > .element > .sticker.yellow {
  background-color: #E0AE00;
}
.cube > .piece > .element > .sticker.orange {
  background-color: #FF5000;
}
.cube > .piece > .element > .sticker.red {
  background-color: #DF0500;
}

#home-link {
  position: absolute;
  left: 20px; /* Adjust this value to center it horizontally */
  top: 10px; /* Adjust this value to position it vertically */
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

#home-link a {
  color: white;
  text-decoration: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all .5s ease;
}

button:active {
  transform: scale(.9);
  transition: all 100ms ease;
}

button svg {
  transition: all .5s ease;
  z-index: 2;
}

.play {
  transition: all .5s ease;
  transition-delay: 300ms;
}

button:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all .5s ease;
  z-index: 2;
}

button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}